<div id="header" class="ui piled segment"><h1>Hot Officials</h1></div>

<br>

<div id="l-container">
  <%= render "layouts/sidebar"%>
  <div id="s-container">
    <div class="ui segment">
      <div class="ui divided items">
        <% @officials.each do |official| %>
          <div class="item">
            <div class="image">
              <img src="<%=official.img.url(:medium)%>">
            </div>
            <div class="content">
              <a class="header"><%= official.name %></a>
              <div class="meta">
                <span class="cinema"><a href="<%= official.link %>"><%= official.link %></a></span>
              </div>
              <div class="description">
                <p><%= official.description %></p>
              </div>
              <div class="extra">
                <% if official.is_company %>
                  <div class="ui label">会社</div>
                <% end %>
                <%= link_to follow_official_users_path(user: current_user, official: official), :method => :post do %>
                  <div class="ui right floated green button">
                    Follow
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
